*.c linguist-language=C
*.h linguist-language=C
*.c linguist-detectable=true
*.cc linguist-language=C++
*.cpp linguist-language=C++
*.cxx linguist-language=C++
*.h linguist-language=C++
*.hh linguist-language=C++
*.hpp linguist-language=C++
*.hxx linguist-language=C++
*.cpp linguist-detectable=true
*.hh linguist-detectable=true
*.hpp linguist-detectable=true
*.hxx linguist-detectable=true
*.json linguist-language=JSON
*.json linguist-detectable=true
